<div class="stick">
    <a class="gotop" href="#">
    <img src="/assets/img/stick.png" width="100">
    </a>
    <a class="stick-wx" href="#@" data-toggle="collapse" data-target="#wx-img-st" >
    <img src="/assets/img/stick-wx.png" width="70">
    <br>
    &nbsp;&nbsp;客服微信
    </a>
    <img id="wx-img-st" class="collapse" src="/assets/img/stick-wx.png" width="200">
    <!--a href="#@" >
    </a-->
<div>
<footer>
    <br>
    <p>
    Copyright © All Rights Reserved www.wanfa-travel.com
    </p> <p>
    深圳市玩法旅行有限公司
    </p> <p>
    法国总公司地址：45 rue de la turbine, 13008 Marseille
    </p> <p>
    中国办事处地址：深圳市光明新区光明街道光翠路光明广场五楼
    </p> <p>
    联系电话：中国热线：15168210961    欧洲热线：+33668083801
    </p> <p>
    预订微信 ：659563357
    </p> <p>
    <a href="/about/">
        关于我们 
    </a> 
    &nbsp;
    &nbsp;
    &nbsp;
    <a href="/cooperation/">
        招商合作 
    </a> 
    &nbsp;
    &nbsp;
    &nbsp;
    <a href="/emploi/">
        诚聘英才
    </a> 
    </p> 
    <br>
</footer>
