<div class="container marketing col-sm-9">
    {% for i in site.data.indexlist %} 
    <div class="row index-row">
        <div class="group-title container-fluid">
            <a href="/{{ i.sid }}/" >
            <h2>{{ i.title }}</h2>
            </a>
        </div>
        {% for it in site.categories[i.sid] reversed %}
        {% if forloop.index < 4 %}
        <div class="col-sm-4">
            <a href="/{{ i.sid }}/{{ it.name }}.html">
            <img class="img-circle20 img-thumbnail index-img" src="/assets/img/{{ it.img }}" alt="" width="200" height="200">
            <h3>{{ it.title }}</h3>
            <p>{{ it.sum }}</p>
            </a>
            <!-- p><a class="btn btn-default" href="/{{ i.sid }}/{{ it.name }}.html" role="button">立即查看</a></p-->
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</div>
