<div class="inner-post">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a data-toggle="tab" href="#plan">行程说明</a></li>
        <li role="presentation"><a data-toggle="tab" href="#fee">费用说明</a></li>
        <li role="presentation"><a data-toggle="tab" href="#reserve">预定须知</a></li>
    </ul>
    <div class="tab-content">
        <div id="plan" class="tab-pane fade in active">
            <p>{{ content }}</p>
        </div>
        <div id="fee" class="tab-pane fade">
            <h4>费用包含：</h4>
            <ol>
                <li>法国旅游局规定的全额游客乘车保险费用  </li>
                <li>司机兼导游工资（中文服务） </li>
                <li>旅游所用车辆，燃油费，过路费，停车费  </li>
                <li>法国TVA增值税  </li>
                <li>车载WIFI </li>
            </ol>

            <h4>费用不包含：</h4>
            <ol>
                <li>游客餐饮及住宿费用  </li>
                <li>游客各种私人费用以及线路中未注明的景点门票 </li>
                <li>儿童安全座椅，法国交规规定1-10岁儿童必须使用安全座椅（10欧一个） </li>
                <li>按照欧洲当地习惯，建议支付司机小费（不强制） </li>
            </ol>
            <p><h4>时间限制:</h4> &nbsp; &nbsp; 限每天10小时,超时360元/小时</p>
            <p><h4>里程限制:</h4> &nbsp; &nbsp; 限260公里,超里程7元/公里</p>

        </div>
        <div id="reserve" class="tab-pane fade">
            <h4>预订流程：</h4>
            <ol>
                <li>联系客服</li>
                <li>选择相应的路线、日期、报团人数及客人信息（姓名，微信，电话，邮箱，酒店地址）</li>
                <li>通过微信支付或是支付宝支付全额费用</li>
                <li>确定成团后，客服会发送确认订单及电子发票到您邮箱</li>
            </ol>

            <h4>预订须知：</h4>
            <ol>
                <li>本产品不提供签证服务业务，出团地区为法国南部普罗旺斯地区。</li>
                <li>本产品暂不接受18岁以下单独出行的未成年人及81岁以上老人报名预订。12岁以下儿童在监护人陪同下可参与成团，4-11岁儿童收取半价费用，具体年龄计算以出行日期为准，出行时司机会核对护照出生日期，对于不符合条件的儿童，补交全额车费，0-3岁儿童免费。</li>
                <li> 最少4人成团，对于提交预订后，未达到成团人数的客户，我们会通过邮件通知详情，并为您推荐相应可成团线路，如推荐线路无法达到您的需求，我们可为您取消预订，并退还所有预定金。</li>
                <li>因交通阻碍、罢工、战争、自然灾害等不可抗拒因素引起的额外费用、延期逗留者酒店餐饮费用、个人平安保险费及行李保险费等由客人承担。</li>
                <li>全程无强制购物。旅游线路行程中的景点，餐厅，长途中途休息站等周边购物点，不属于旅游预订商品，若购买后出现任何问题，本公司不承担任何责任。</li>
                <li>为了您的方便出行，请提前3天预订</li>
            </ol>

            <h4>退改说明：</h4>
            <ol>
                <li>在出行日期前72小时内不可修改，72小时以上修改需进行核实，如因日期变动等原因造成差价，需补付差价后再安排。 </li>
                <li>出发前7天及以上取消预定，退还所有100%预订费用。</li>
                <li>出发前48小时取消预定，收取总金额的20%； </li>
                <li>出发前24小时取消预定，收取总金额的40%； </li>
                <li>出发当天取消预定，不退款；</li>
                <li>由于游客缺席，迟到或中途离团，退团不退还旅游费用。</li>
            </ol>
        </div>
    </div>
</div>
