<p>
----------------------------------------------------------------------------
</p>
<p>
当上帝怀疑这个世界，他会欣慰地想起，自己创造了普罗旺斯----米斯塔尔
</p>

<p>
可能你对法国的印象还停留在“法国=巴黎”，这也难怪，毕竟巴黎魅力太大！但这也无法阻挡法国南部地区所散发出的耀眼光芒！为什么要去南法？正如法国诗人罗曼·罗兰所说，“法国之所以浪漫，是因为它拥有普罗旺斯。” 没错！！阳光，蓝天，薰衣草，普罗旺斯，蔚蓝海岸，最美小镇，每个都如雷贯耳，这就构成了我们的南法之旅。
</p>
<p>
巴黎可以不去，南法不可不来！！
</p>

<p>&nbsp;</p>
<p>
真正的旅行
</p>
<p>
不在于你每天空降或疾走过多少个地方
</p>
<p>
而是放慢些脚步
</p>
<p>
让自己变懒去体会另外一种生活
</p>
<p>

<p>&nbsp;</p>
<p>
南法是一块神奇的土地
</p>
<p>
也是一片心灵的净土
</p>
<p>
更是另一种简单无忧，轻松慵懒的生活方式
</p>


<p>&nbsp;</p>
<p>
    想要了解更多南法资讯
</p> <p>
    敬请联系微信客服：shotgun
</p> <p>
    南法路线，火热报名
</p> <p>
    拼车，包车，私人定制
</p>
    
<img src="/assets/img/sign.jpg" >

