<div class="container col-sm-3 siderbar">
    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="/city/" >
                <h3 class="panel-title">热门城市</h3>
            </a>
        </div>
        <div class="list-group panel-body">
            {% for post in site.categories.city | limit:5 %}
            <a href="/city/{{ post.name }}.html" class="list-group-item">{{ post.title }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
                <h3 class="panel-title">热门线路</h3>
        </div>
        <div class="list-group panel-body">
            <a href="#@" class="list-group-item">XXXX</a>
            <a href="#@" class="list-group-item">XXXX</a>
            <a href="#@" class="list-group-item">XXXX</a>
            <a href="#@" class="list-group-item">XXXX</a>
        </div>
    </div>
    {% for i in site.data.siderbar %}
    <div class="sider">
        <a href="{{ i.href }}" >
            <img class="img-circle5" src="/assets/img/{{ i.img }}" width="200" height="200">
        </a>
    </div>
    <hr>
    {% endfor %}
    <div class="sider">
        <a href="#">
            返回顶部
        </a>
    </div>

</div>
