<div class="container col-sm-3 siderbar">
    <!-- div class="panel panel-default">
        <div class="panel-heading">
            <a href="/city/" >
                <h3 class="panel-title">热门城市</h3>
            </a>
        </div>
        <div class="list-group panel-body">
            {% for post in site.categories.city | limit:5 %}
            <a href="/city/{{ post.name }}.html" class="list-group-item">{{ post.title }}</a>
            {% endfor %}
        </div>
    </div-->
    <div class="panel panel-default">
        <div class="panel-heading">
                <h3 class="panel-title">婚纱摄影</h3>
        </div>
        <div class="list-group panel-body">
            <a href="/photograph/provence.html" class="list-group-item">薰衣草，等待爱情</a>
            <a href="/photograph/paris.html" class="list-group-item">巴黎，流动的盛宴</a>
            <a href="/photograph/portrait.html" class="list-group-item">普罗旺斯，个性写真</a>
        </div>
    </div>
    {% if page.sid != 'index' %}
    <hr>
    <div class="sider">
        <a href="/personal/" >
            私人订制
        </a>
    </div>
    <hr>
    {% endif %}
    {% for i in site.data.siderbar %}
    <div class="sider">
        <a href="{{ i.href }}" >
            <img class="img-circle5" src="/assets/img/{{ i.img }}" width="200" height="200">
        </a>
    </div>
    <hr>
    {% endfor %}
    <div class="sider">
        <a href="/transport/" >
            机场/游轮接送
        </a>
    </div>
    <hr>
    <div class="sider">
        <a href="/translator/" >
            导游地陪/翻译
        </a>
    </div>
    <hr>
    <div class="sider">
        <a href="/tickets/" >
           巴黎景点门票优惠
        </a>
    </div>

</div>
